DATABASE_URL="postgresql://postgres:password@localhost:5432/merko?schema=public"
DIRECT_URL="postgresql://postgres:password@localhost:5432/merko?schema=public"
REDIS_URL="redis://localhost:6379"
PORT=4000
NODE_ENV=development
